// Black Bison
@font-face {
    font-family: "BlackBison";
    src: url("../fonts/BlackBison/BlackBison.ttf") format("truetype");
}

// Manrope
@font-face {
    font-family: "Manrope Light";
    src: url("../fonts/Manrope/Manrope-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope ExtraBold";
    src: url("../fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope ExtraLight";
    src: url("../fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope Medium";
    src: url("../fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope Bold";
    src: url("../fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope Regular";
    src: url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Manrope SemiBold";
    src: url("../fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

// NotoSansJP
@font-face {
    font-family: "NotoSansJP Black";
    src: url("../fonts/NotoSansJP/NotoSansJP-Black.otf");
}
@font-face {
    font-family: "NotoSansJP Bold";
    src: url("../fonts/NotoSansJP/NotoSansJP-Bold.otf");
}
@font-face {
    font-family: "NotoSansJP Light";
    src: url("../fonts/NotoSansJP/NotoSansJP-Light.otf");
}
@font-face {
    font-family: "NotoSansJP Medium";
    src: url("../fonts/NotoSansJP/NotoSansJP-Medium.otf");
}
@font-face {
    font-family: "NotoSansJP Regular";
    src: url("../fonts/NotoSansJP/NotoSansJP-Regular.otf");
}
@font-face {
    font-family: "NotoSansJP Thin";
    src: url("../fonts/NotoSansJP/NotoSansJP-Thin.otf");
}
